.App {
  text-align: center;
}

.App-monty {
  height: 60%;
}

.App-header {
  background-color: #222;
  height: 250px;
  padding: 10px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
